<div class="container">
    <div class="form-cadastro mt-4">
        <form #formUsuario="ngForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-6">
                    <input type="text" class="form-control mt-3" name="nome" [(ngModel)]="usuario.nome" [ngClass]="{'is-valid': inputNome.valid, 'is-invalid': inputNome.invalid && inputNome.touched}"
                        placeholder="Nome" aria-label="Nome" required minlength="5" #inputNome="ngModel" autofocus>
                        <div class="invalid-feedback">Preencha o nome corretamente!</div>
                        <!-- Propriedades que poderão ser acessadas através da associação do #template ao ngModel -->
                        <!-- #template.valid -->
                        <!-- #template.invalid -->
                        <!-- #template.pristine -->
                        <!-- #template.touched -->
                        <!-- #template.untouched -->
                        <!-- #template.value e etc. -->

                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control mt-3" name="sobrenome" [(ngModel)]="usuario.sobreNome" [ngClass]="{'is-invalid': inputSobrenome.invalid && inputSobrenome.touched}"
                        placeholder="Sobrenome" aria-label="Sobrenome" #inputSobrenome="ngModel" required minlength="4">
                        <div class="invalid-feedback">Preencha o sobrenome corretamente!</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="email" class="form-control mt-3" name="email" [(ngModel)]="usuario.email" [ngClass]="{'is-valid': inputEmail.valid, 'is-invalid': inputEmail.invalid && inputEmail.touched}"
                        placeholder="Email" aria-label="Email" #inputEmail="ngModel" required >
                        <div class="invalid-feedback">Preencha o campo de e-mail corretamente!</div>
                        <div class="valid-feedback">E-mail válido!</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input type="password" class="form-control mt-3" name="senha" [(ngModel)]="usuario.senha"
                        placeholder="Senha" aria-label="Senha" #inputSenha="ngModel" required minlength="8">
                </div>
                <div class="col-md-6">
                    <input type="password" class="form-control mt-3" name="confirmacaoSenha" [ngClass]="{'is-invalid': (inputSenha.value != inputConfirmacaoSenha.value) && inputConfirmacaoSenha.touched}"
                        [(ngModel)]="usuario.confirmacaoSenha" placeholder="Confirmar senha"
                        aria-label="Confirmação de senha" #inputConfirmacaoSenha="ngModel" required minlength="8">
                        <div class="invalid-feedback">Confirme a senha corretamente!</div>

                </div>
            </div>
            <div class="row mt-3">
                <button class="btn btn-md btn-primary" [disabled]="!formUsuario.valid">Confirmar</button>
            </div>
            {{ formUsuario.valid }}
        </form>
    </div>
</div>