<div class="header"></div>

<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="card" id="card-form">
                    <form #formCliente="ngForm" (ngSubmit)="onSubmit()">
                    <div class="card-header">
                        <h2 class="card-title text-center text-primary">Cadastre-se</h2>
                    </div>
                    <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <span class="form-group-label d-block">Dados pessoais</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="text"
                                        #nomeField="ngModel" 
                                        [(ngModel)]="cliente.nome" 
                                        name="nome" 
                                        class="form-control mb-0"
                                        [class.is-invalid]="nomeField.invalid && (nomeField.touched || nomeField.dirty)"
                                        [class.is-valid]="nomeField.valid"
                                        (blur)="blur(nomeField)"
                                        required
                                        minlength="3" 
                                        placeholder="Nome">
                                        <!-- <div class="valid-feedback">
                                             É possível obter as classes em tempo real do input
                                             utilizando a notação de nomeclatura de template
                                            {{ nomeField.className | json }}
                                        </div> -->
                                       <span *ngIf="nomeField.invalid && (nomeField.touched || nomeField.dirty)" class="invalid-feedback">Informe um nome válido</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input #sobrenomeField="ngModel" 
                                            type="text" 
                                            [(ngModel)]="cliente.sobrenome" 
                                            name="sobrenome" 
                                            class="form-control mb-0"
                                            [class.is-invalid]="sobrenomeField.invalid && (sobrenomeField.touched || sobrenomeField.dirty)"
                                            [class.is-valid]="sobrenomeField.valid"
                                            (blur)="blur(sobrenomeField)"
                                            required
                                            minlength="3" 
                                            placeholder="Sobrenome">
                                        <span class="invalid-feedback"> Informe um sobrenome válido</span>
                                        <!-- <div>
                                            {{ sobrenomeField.className }}
                                        </div> -->
                                        
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="date" [(ngModel)]="cliente.nascimento"
                                        #nascimentoField="ngModel" 
                                        [value]="2000-01-08" 
                                        name="nascimento" 
                                        class="form-control mb-0"
                                        [class.is-invalid]="nascimentoField.invalid && (nascimentoField.touched || nascimentoField.dirty)"
                                        required 
                                        placeholder="Nascimento">
                                        <span *ngIf="nascimentoField.invalid && (nascimentoField.touched || nascimentoField.dirty)" 
                                        class="error-feedback"> 
                                            Informe uma data válida
                                         </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <span class="form-group-label d-block">Endereço</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                   <div class="form-group">
                                    <input type="text"
                                        #ruaField="ngModel" 
                                        [(ngModel)]="cliente.rua" 
                                        name="rua" 
                                        class="form-control mb-0"
                                        [class.is-invalid]="ruaField.invalid && (ruaField.touched || ruaField.dirty)"
                                        [class.is-valid]="ruaField.valid"
                                        (blur)="blur(ruaField)"
                                        required
                                        minlength="8" 
                                        placeholder="Rua">
                                        <span class="invalid-feedback"> Informe um nome de rua válido</span>
                                   </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="text"
                                        #cidadeField="ngModel" 
                                        [(ngModel)]="cliente.cidade" 
                                        name="cidade" 
                                        class="form-control mb-0"
                                        [class.is-invalid]="cidadeField.invalid && (cidadeField.touched || cidadeField.dirty)"
                                        [class.is-valid]="cidadeField.valid"
                                        (blur)="blur(cidadeField)"
                                        placeholder="Cidade"
                                        required
                                        >
                                        <span class="invalid-feedback">Informe um nome válido para cidade</span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <select name="estado" [(ngModel)]="cliente.estado" id="selectForm"  class="form-control">
                                        <option value="AM">AM</option>
                                        <option value="BA">BA</option>
                                        <option value="SP">SP</option>
                                        <option value="RO">RO</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-12">
                                    <span class="form-group-label d-block">Dados para contato</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                    <input type="email" 
                                        required 
                                        #emailField="ngModel" 
                                        minlength="8"
                                        [(ngModel)]="cliente.email" 
                                        name="email" 
                                        class="form-control mb-0"
                                        [class.is-invalid]="emailField.invalid && (emailField.touched || emailField.dirty)"
                                        [class.is-valid]="emailField.valid"
                                        (blur)="blur(emailField)"
                                        placeholder="E-mail">
                                        <span 
                                            class="invalid-feedback"
                                        
                                            >
                                            Informe um e-mail válido
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" [(ngModel)]="cliente.telefone" name="telefone2" class="form-control" placeholder="Telefone">
                                </div>

                                
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="new-button" [disabled]="!formCliente.valid">Salvar</button>
                            <!-- <button class="btn btn-primary">Salvar</button> -->
                        </div>
                    </form>
                </div>
            </div>
        <div class="col-md-1"></div>
    </div>
    <div class="d-flex justify-content-center mt-2">
        <a [routerLink]="['/form-validation']" routerLinkActive="router-link-active" >Second Form</a>
    </div>
    <router-outlet></router-outlet>
</div>